.TodoHistory {
  &-dailyTodos {
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 8px;
    display: flex;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
      0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    @media screen and(max-width:720px) {
      flex-direction: column;
    }
    &-summary {
      width: 8em;
      margin-right: 8px;
      @media screen and(max-width:720px) {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 0;
        padding: 10px;
        border-bottom: 1px solid #ddd;
      }
      &-date {
        span:first-child {
          margin-right: 4px;
          color: #222;
        }
        span:last-child {
          color: rgba(255, 179, 113, 1);
          font-size: 12px;
        }
      }
      .finishedCount {
        font-size: 14px;
        color: #888;
      }
    }
  }
  &-todoList {
    flex: 1;
  }
}
