.TomatoHistory {
  &-tomatoItem {
    padding: 3px;
    font-size: 15px;
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    cursor: pointer;
    .action {
      display: none;
    }
    &:hover {
      background: #f8f8f8;
      .action {
        display: block;
      }
    }
    .text {
      padding: 6px;
      .TomatoHistory-tomatoItem-time {
        color: #999;
        margin-right: 8px;
      }
      &.TomatoHistory-tomatoItem-description {
        color: #222;
      }
    }
  }
}
.tomatoItem {
  transition: background-color 0.3s;
  background-color: white;
  &-editing {
    margin: 4px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
