.countDown {
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 4px;
  position: relative;
  width: 100%;
  overflow: hidden;
  background: white;
  height: 46px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  .circle {
    background: linear-gradient(45deg, #ff809b 30%, #ff9f6b 90%);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 0 #ff9f6b;
    display: flex;
    animation: circle 0.3s infinite alternate;
    margin-right: 5px;
    &-cover {
      background: white;
      height: 24px;
      width: 24px;
      border-radius: 50%;
      margin: auto;
      box-shadow: 0px 0px 5px 0 inset #ff9f6b;
    }
  }
  .progress-wrapper {
    position: relative;
    background: rgba(255, 159, 107, 0.4);
    flex: 1;
    height: 100%;
    display: flex;
    overflow: hidden;
    border-radius: 4px;
    > span {
      font-size: 15px;
      margin: auto;
      color: white;
      user-select: none;
      position: relative;
      z-index: 1;
    }
    > .progress {
      position: absolute;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      top: 0;
      bottom: 0;
      left: 0;
      z-index: 0;
      background: linear-gradient(45deg, #ff809b 30%, #ff9f6b 90%);
    }
  }
}

@keyframes circle {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}
