.Statistics {
  @media screen and(max-width:720px) {
    margin-top: 0;
  }
  width: 100%;
  margin-top: 22px;
  min-height: 150px;
  flex-direction: column;
  ul {
    display: flex;

    @media screen and(max-width:720px) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
    li {
      @media screen and(max-width:720px) {
        width: 100%;
        margin: 5px 0;
      }
      &:hover {
        box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px, rgba(0, 0, 0, 0.14) 0px 3px 4px 0px,
          rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;
      }
      margin: 0 5px;
      border-radius: 4px;
      width: 25%;
      position: relative;
      display: flex;
      cursor: pointer;
      min-height: 90px;
      background-color: #fff;
      text-align: left;
      font-size: 14px;
      color: #666;
      position: relative;
      box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
        0px 1px 3px 0px rgba(0, 0, 0, 0.12);
      transition: all 0.3s;
      .titles {
        padding: 5px;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        .title {
          transition: all 0.3s;
          font-size: 14px;
          color: #666;
        }
        .subTitle {
          font-size: 12px;
          color: #999;
        }
        .title-number {
          font-size: 30px;
          color: rgba(255, 124, 54, 1);
        }
      }
    }
    li.active {
      background-color: #f8f8f8;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px,
        rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
      .titles {
        .title {
          color: rgba(255, 124, 54, 1);
        }
      }
    }
    li:first-child {
      margin: 0;
      margin-right: 5px;
      @media screen and(max-width:720px) {
        margin: 0;
        margin-bottom: 5px;
      }
    }
    li:last-child {
      margin: 0;
      margin-left: 5px;
      @media screen and(max-width:720px) {
        margin: 0;
        margin-top: 5px;
      }
    }
    .Polygon {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      svg {
        width: 100%;
        margin-bottom: -3px;
      }
    }
  }
}
