.Todos {
  margin-left: 5px;
  background: #f8f8f8;
  margin-right: 4px;
  border-radius: 4px;
  &-list {
    padding: 5px;
    border-radius: 4px;
  }
  .completedTodos {
    transition: all 0.3s;
    max-height: 300px;
    opacity: 1;
    &.invisible {
      max-height: 0px;
      opacity: 0;
    }
  }
}
